@charset 'utf-8';

@use './colors';

@use './layout/header';

@use 'pages/index';
@use 'pages/cards';
@use 'pages/deckbuilder.scss';

@use 'components/filter-cards-bar';
@use 'components/card-search';
@use 'components/tooltip';

@use './fonts.scss';

body {
    overflow-y: scroll;
    background: rgb(7,39,85);
    background: linear-gradient(0deg, rgba(7,39,85,1) 0%, rgba(5,21,43,1) 100%);
    color: white;
    background-attachment: fixed;
    font-family: 'Roboto Mono', 'cwTeXKai', serif;
}

.dangerous-text {
    color: colors.$dangerous;
}