@charset 'utf-8';

@use './colors';

@use './layout/header';

@use 'pages/index';
@use 'pages/cards';
@use 'pages/deckbuilder.scss';

@use 'components/filter-cards-bar';
@use 'components/card-search';
@use 'components/tooltip';
@use 'components/loading-icon';
@use 'components/info-card';

@use './fonts.scss';

html {
    background: linear-gradient(0deg, rgba(7,39,85,1) 0%, rgba(5,21,43,1) 100%);
    background-attachment: fixed;
}

body {
    overflow-y: scroll;
    color: white;
    font-family: 'Roboto Mono', 'cwTeXKai', serif;
    background: linear-gradient(0deg, rgba(7,39,85,1) 0%, rgba(5,21,43,1) 100%);
    background-attachment: fixed;
}

.dangerous-text {
    color: colors.$dangerous;
}

.white-button {
    font-size: 1em;
    background: rgba(255, 255, 255, 0.75) !important;
    font-weight: bold;
    &:hover {
        background: rgba(255, 255, 255, 1) !important;
    }
}