@use '../layout/header';

#cards-page {
    display: flex;
    main {
        margin: 0 auto;
        padding: 0em 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
    }
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    justify-items: stretch;
}

.cards-grid-item {
    &__card-img {
        max-width: 100%;
    }
}