@use '../layout/header';

#cards-page {
    display: flex;
    main {
        margin: 0 auto;
        padding: 0em 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
    }
    .cards-grid-item {
        &__card-img {
            max-width: 100%;
        }
    }
}