@use '../layout/header';

$deck-width: 170px;

.deckbuilder {
    max-width: 1300px;
    margin: 0 auto;
    height: calc(100vh - #{header.$height});
    padding: 0 2em;
    &__deck-section {
        padding-top: 2em;
        position: fixed;
        width: $deck-width;
        height: inherit;
        display: grid;
        grid-template-rows: 1fr auto;
        &__footer {
            font-weight: bold;
            padding: 1em 0;
            display: flex;
            justify-content: space-between;
        }
        &__clear-btn {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            img {
                height: 1em;
            }
            &:hover {
                background: rgb(255, 169, 169);
            }
        }
    }

    &__deck {
        overflow-y: scroll;
        overflow-x: visible;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
        &--dropping {
            background: rgb(230, 253, 255);
        }
        &--drop-over {
            background: rgb(190, 255, 228);
        }
        &__empty {
            border-radius: 29px 29px 29px 29px;
            border: 4px dashed #d6d6d6;
            padding: 2em;
            color: #b8afaf;
            display: flex;
            align-items: center;
            flex-grow: 1;
            &__text {
                margin: auto;
                font-size: 2em;
                text-align: center;
            }
        }
    }
    &__search {
        margin-left: calc(#{$deck-width} + 2em);
        padding-top: 2em;
        .card-search {
            display: grid;
            grid-template-rows: auto 1fr;
            height: 100%;
            &__grid {
                grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            }
        }
    }
}

.deckbuilder__deck-card {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 1em;
    &__price {
        width: 2em;
        text-align: center;
        font-weight: bold;
    }
    &__img {
        width: 30px;
    }
    &__name {
        margin-left: 1em;
        margin-right: auto;
        font-size: 1em;
    }
    &__count {
        font-weight: bold;
    }
    &__delete-btn, &__add-btn {
        font-weight: bold;
        width: 1.5em;
    }
}

.deckbuilder__search-card {
    &__title {
        font-size: 1.2em;
        margin: 1em 0 0 0;
    }
    &__img {
        max-width: 100%;
    }
    &__details {
        font-size: .8em;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:480px) { 
    $deck-width: 220px;
    .deckbuilder__deck-section {
        width: $deck-width;
    }
    .deckbuilder__search {
        margin-left: calc(#{$deck-width} + 2em);
    }
    .deckbuilder__search .card-search__grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
} 

@media screen and (min-width:1000px) { 
    $deck-width: 250px;
    .deckbuilder__deck-section {
        width: $deck-width;
    }
    .deckbuilder__search {
        margin-left: calc(#{$deck-width} + 2em);
    }
    .deckbuilder__search .card-search__grid {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
} 