.hero {
    display: grid;
    
    grid-template-areas: 
    "text"    
    "logo";
    align-items: center;
    justify-items: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1000;
    min-height: 500px;
    padding: 10%;
    font-family: 'Roboto', sans-serif;
    background: no-repeat center url(/images/hero-bg.jpg);
    background-size: cover;
    @media only screen and (min-width: 600px) {
        font-size: 1.2rem;
        grid-template-areas: "text logo";
        grid-template-columns: 1fr 1fr;
        grid-gap: 0%;
    }
    @media only screen and (min-width: 1000px) {
        font-size: 1.4rem;
        grid-gap: 30%;
    }
    &__text {
        grid-area: text;
        &__big {
            font-size: 2em;
        }
        &__small {
            opacity: .65;
        }
    }
    &__logo {
        grid-area: logo;
        width: 100%;
    }
    
}

.main--index {
    display: grid;
    grid-gap: 3rem;
    padding: 6rem 10%;
    max-width: 1400px;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "10-9-2021-update" 
        "10-8-2021-update"
        "deck-tutorial";
    @media only screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "10-9-2021-update 10-8-2021-update"
        "deck-tutorial deck-tutorial";
    }
}

.deck-tutorial-card-container {
    grid-area: deck-tutorial;
}