@use 'navbar';
@use 'colors';

$height: 70px;

.header {
    background: colors.$main;
    height: $height;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}

#header-space {
    height: $height;
}

#logo-link {
    width: $height;
    padding: 8px;
}

.logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
}