.navbar {
    box-sizing: border-box;
    margin-left: 2em;
    .navbar__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .navbar__item {
        margin: 0 1em;
        list-style: none;
        list-style-type: none;
        display: flex;
    }
    .navbar__link {
        margin: auto 0;
        color: white;
    }
}