@use '../colors.scss';

.filter-cards-bar {

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    label {
        margin-bottom: 1em;
    }
    .expansion-dropdown {
        width: 100%;
        background-color: colors.$light-bg;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: .8em;
    }
    .search-bar-container {
        input {
            border-radius: 1em;
            outline: none;
            width: 100%;
            margin-bottom: 1em;
            background-color: colors.$light-bg;
            border: none;
            padding: 5px;
            box-sizing: border-box;
            color: hsl(0, 0%, 100%);
            &::placeholder {
                color: hsla(0, 0%, 100%, 0.6);
                font-size: .8em;
            }
        }
    }
}

@media (min-width: 450px){ 
    .filter-cards-bar {
        &__form {
            flex-direction: row;
        }
    }
}